<div class="text-field">
  <%= form.label :email, class: 'sr-only' %>
  <%= form.text_field :email, class: 'form-control', type: 'email', placeholder: 'Email' %>
</div>

<div class="password-field">
  <%= form.label :password, class: 'sr-only' %>
  <%= form.password_field :password, class: 'form-control', type: 'password', placeholder: 'Password' %>
</div>
<div>
  <%= recaptcha_tags %>
</div>
