<%= form_with(model: comic, local: true) do |form| %>
  <% if comic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

      <ul>
      <% comic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :comic_title, class: 'form-control' %>
  </div>

  <div class="text-field">
    <%= form.label :alt %>
    <%= form.text_field :alt, id: :comic_alt, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.file_field :image , class: "image-upload"%>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success btn-update' %>
  </div>
<% end %>
