<div class="container">
  <p id="notice"><%= notice %></p>
  <!-- Begin page content -->


  <main role="main" class="container">
    <div class="mt-1">
      <h1 class="spaced" style="font-family: Roboto">Bell Comics</h1>
    </div>
    <p class="lead">My life in comics.</p>

    <div class="text-center">
      <!--<img src="banner.jpg" class="rounded" alt="Bell Comics" />-->
    </div>

    <div class="text-center main-comic">
      <h2><%= @comic.title %></h2>
      <%= image_tag(@comic.image.url, alt: @comic.alt, class: "img-responsive") %>
    </div>
    <div class="text-center">
      <% if current_user && current_user.admin %>
        <%= link_to 'Edit', edit_comic_path(@comic) %> | <%= link_to 'Delete', comic_path(@comic), method: :delete %>
      <% end %>
    </div>
  </main>



  <hr />
  <footer class="footer">
    <div class="container text-center">
      <a href="/about" style="spaced">About me</a> • <a href="mailto:busterbrownsgirl@gmail.com">Contact Me</a>
    </div>
  </footer>
</div>
